.wd-margin-left {
    margin-left: 12px;
}

.wd-bg-transparent {
    background-color: rgba(194, 227, 227, 0.274);
}

.wd-bg-image {

    background-image: url("../Images/search_background.jpeg");
    min-height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}